---
# - name: Docker Compose Pull
#   ansible.builtin.shell:
#   args:
#     chdir: "{{ docker_compose_generator_output_path }}"
#     cmd: "docker-compose -f compose.yaml pull"

- name: Docker Compose Up
  ansible.builtin.shell:
  args:
    chdir: "{{ docker_compose_generator_output_path }}"
    cmd: "docker compose -f compose.yaml up -d --remove-orphans"
