---

ansible_user: deployer
main_uid: "1100"
main_gid: "1100"

init_admin_pass: "{{ vault_init_admin_password }}"
cloudflare_account_email: "{{ vault_cf_email }}"
cloudflare_api_key: "{{ vault_cf_api_key }}"
admin_email: "{{ vault_admin_email }}"

# lm-traefik
traefik_file_provider: true
traefik_enable_dashboard: true #defaults to false
traefik_insecure_transport: false #defaults to false
traefik_exposed_by_default: false
traefik_config_filepath: "{{ appdata_path }}/traefik"
crowdsec_lapi_key: "{{ vault_crowdsec_lapi_key }}"

# frigate
frigate_filepath: "{{ zfs_path }}/frigate"
frigate_config_filepath: "{{ frigate_filepath }}/config"
frigate_rtsp_password: "{{ vault_frigate_rtsp_password }}"
frigate_host_ip: "{{ vault_nas_host_ip }}"
frigate_mqtt_host: "{{ vault_frigate_mqtt_host }}"
frigate_mqtt_user: "{{ vault_frigate_mqtt_user }}"
frigate_mqtt_password: "{{ vault_frigate_mqtt_password }}"
rtsp_camera_username: "{{ vault_rtsp_camera_username }}"
rtsp_camera_password: "{{ vault_rtsp_camera_password }}"
camera_subnet_prefix: "{{ vault_camera_subnet_prefix }}"

zfs_path: /storage
nvr_path: "{{ zfs_path }}/frigate"
domain_name: "{{ vault_domain_name }}"
local_domain: "nvr.{{ domain_name }}"

# ironicbadger.docker_compose_generator
appdata_path: "{{ zfs_path }}/appdata"
ntp_timezone: "America/Chicago"
global_env_vars:
  - "PUID={{ main_uid }}"
  - "PGID={{ main_gid }}"
  - "TZ={{ ntp_timezone }}"
docker_compose_generator_uid: "{{ main_uid }}"
docker_compose_generator_gid: "{{ main_gid }}"
docker_compose_generator_output_path: /home/deployer/services
