services:
  traefik:
    image: traefik:v3.2.3
    container_name: traefik
    ports:
      - 80:80
      - 443:443
    expose:
      - 8082 # Prometheus metrics endpoint
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.traefik.entrypoints=websecure"
      - "traefik.http.routers.traefik.rule=Host(`proxy.{{ local_domain }}`)"
      - "traefik.http.routers.traefik.tls=true"
      - "traefik.http.routers.traefik.service=api@internal"
      - traefik.http.services.traefik.loadbalancer.server.port=8080
    volumes:
      - "{{ traefik_config_filepath }}:/etc/traefik"
      - "{{ traefik_config_filepath }}/logs:/logs"
      - "/var/run/docker.sock:/var/run/docker.sock:ro"
    environment:
      - "CLOUDFLARE_EMAIL={{ cloudflare_account_email }}"
      - "CLOUDFLARE_API_KEY={{ cloudflare_api_key }}"
      - "PUID={{ docker_compose_generator_uid }}"
      - "PGID={{ docker_compose_generator_gid }}"
      - "TZ={{ ntp_timezone }}"
    restart: unless-stopped

  # influxdb:
  #   image: influxdb:1.12
  #   container_name: influxdb
  #   volumes:
  #     - "{{ appdata_path }}/influxdb:/config"
  #   ports:
  #     - 8086:8086
  #   restart: unless-stopped

  librespeed:
    image: linuxserver/librespeed:5.4.1
    container_name: librespeed
    labels:
      - traefik.enable=true
      - "traefik.http.routers.librespeed.rule=Host(`speed.{{ local_domain }}`)"
    environment:
      - MODE=standalone
      - TELEMETRY=true
      - "PUID={{ docker_compose_generator_uid }}"
      - "PGID={{ docker_compose_generator_gid }}"
      - "TZ={{ ntp_timezone }}"
    restart: unless-stopped

  arcane:
    image: ghcr.io/getarcaneapp/arcane:v1.13.2
    restart: unless-stopped
    container_name: arcane
    labels:
      - traefik.enable=true
      - "traefik.http.routers.arcane.rule=Host(`arcane.{{ local_domain }}`)"
      - traefik.http.services.arcane.loadbalancer.server.port=3552
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - "{{ appdata_path }}/arcane/data:/app/data"
    environment:
      - "APP_URL=arcane.{{ local_domain }}"
      - "PUID={{ docker_compose_generator_uid }}"
      - "PGID={{ docker_compose_generator_gid }}"
      - "TZ={{ ntp_timezone }}"
      - "ENCRYPTION_KEY={{ nas.arcane.enc_key }}"
      - "JWT_SECRET={{ nas.arcane.jwt_secret }}"
      - DATABASE_URL=file:data/arcane.db?_pragma=journal_mode(WAL)&_pragma=busy_timeout(2500)&_txlock=immediate

  gitea:
    image: docker.io/gitea/gitea:1.25.4
    container_name: gitea
    labels:
      - traefik.enable=true
      - "traefik.http.routers.gitea.rule=Host(`git.{{ local_domain }}`)"
      - traefik.http.services.gitea.loadbalancer.server.port=3000
    environment:
      - GITEA__database__DB_TYPE=mysql
      - GITEA__database__HOST=giteadb:3306
      - GITEA__database__NAME=gitea
      - GITEA__database__USER=gitea
      - "GITEA__database__PASSWD={{ nas.gitea.user_db_pass }}"
      - "PUID={{ docker_compose_generator_uid }}"
      - "PGID={{ docker_compose_generator_gid }}"
      - "TZ={{ ntp_timezone }}"
    restart: unless-stopped
    volumes:
      - "{{ appdata_path }}/gitea/config:/etc/gitea"
      - "{{ appdata_path }}/gitea/data:/var/lib/gitea"
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
    expose:
      - 3000
    ports:
      - "2222:2222"
    depends_on:
      - giteadb

  giteadb:
    image: docker.io/library/mysql:8
    container_name: giteadb
    restart: unless-stopped
    environment:
      - "MYSQL_ROOT_PASSWORD={{ nas.gitea.root_db_pass }}"
      - MYSQL_USER=gitea
      - "MYSQL_PASSWORD={{ nas.gitea.user_db_pass }}"
      - MYSQL_DATABASE=gitea
      - "PUID={{ docker_compose_generator_uid }}"
      - "PGID={{ docker_compose_generator_gid }}"
      - "TZ={{ ntp_timezone }}"
    volumes:
      - "{{ appdata_path }}/gitea/mysql:/var/lib/mysql"