mqtt:
  host: "{{ frigate_mqtt_host }}"
  user: "{{ frigate_mqtt_user }}"
  password: "{{ frigate_mqtt_password }}"

database:
  path: /config/db/frigate.db
  
ffmpeg:
  hwaccel_args: preset-vaapi
  output_args:
    record: preset-record-generic-audio-aac

go2rtc:
  webrtc:
    candidates:
      - "{{ vault_frigate_ip }}:8555"
      - stun:8555
  streams:
    doorbell:
      - "rtsp://{{ rtsp_camera_username }}:{{ rtsp_camera_password }}@{{ camera_subnet_prefix }}.15:554/cam/realmonitor?channel=1&subtype=0&unicast=true&proto=Onvif"
    cam1:
      - "rtsp://camera:{{ rtsp_camera_password }}@{{ camera_subnet_prefix }}.13/live"
      - "ffmpeg:cam1#audio=aac"
    cam2:
      - "rtsp://camera:{{ rtsp_camera_password }}@{{ camera_subnet_prefix }}.14/live"
      - "ffmpeg:cam2#audio=aac"
    cam3:
      - "rtsp://camera:{{ rtsp_camera_password }}@{{ camera_subnet_prefix }}.16/stream1"
      - "ffmpeg:cam3#audio=aac"
    cam4:
      - "rtsp://camera:{{ rtsp_camera_password }}@{{ camera_subnet_prefix }}.17/stream1"
      - "ffmpeg:cam4#audio=aac"
    cam5:
      - "rtsp://camera:{{ rtsp_camera_password }}@{{ camera_subnet_prefix }}.18/stream1"
      - "ffmpeg:cam5#audio=aac"

cameras:
  doorbell:
    ffmpeg:
      inputs:
        - path: "rtsp://127.0.0.1:8554/doorbell"
          input_args: preset-rtsp-restream
          roles:
            - record
            - detect
    detect:
      fps: 5
    zones:
      porch:
        coordinates: 611,539,1280,494,1280,720,152,720,91,481
        objects:
          - person
      driveway:
        coordinates: 248,477,106,442,111,494
        objects:
          - person
          - car
    ui:
      order: 0

  cam1:
    ffmpeg:
      inputs:
        - path: "rtsp://127.0.0.1:8554/cam1"
          input_args: preset-rtsp-restream
          roles:
            - record
            - detect
    detect:
      fps: 5
    objects:
      track:
        - person
        - cat
        - dog
  
  #cam2:
  #  ffmpeg:
  #    inputs:
  #      - path: "rtsp://127.0.0.1:8554/cam2"
  #        input_args: preset-rtsp-restream
  #        roles:
  #          - record
  #          - detect
  #  detect:
  #    fps: 5
  #  objects:
  #    track:
  #      - person
  #      - cat
  #      - dog

  cam3:
    ffmpeg:
      inputs:
        - path: "rtsp://127.0.0.1:8554/cam3"
          input_args: preset-rtsp-restream
          roles:
            - record
            - detect
    detect:
      fps: 5
    objects:
      track:
        - person
        - cat
        - dog
  cam4:
    ffmpeg:
      inputs:
        - path: "rtsp://127.0.0.1:8554/cam4"
          input_args: preset-rtsp-restream
          roles:
            - record
            - detect
    detect:
      fps: 5
    objects:
      track:
        - person
        - cat
        - dog
      
  cam5:
    ffmpeg:
      inputs:
        - path: "rtsp://127.0.0.1:8554/cam5"
          input_args: preset-rtsp-restream
          roles:
            - record
            - detect
    detect:
      fps: 5
    objects:
      track:
        - person
        - cat
        - dog

objects:
  track:
    - person
    - car
    - dog
    - cat

birdseye:
  enabled: true
  width: 1920
  height: 1080
  quality: 8
  #mode: objects
  mode: continuous

snapshots:
  enabled: true
  timestamp: true
  bounding_box: true
  retain:
    default: 60

record:
  enabled: true
  retain:
    days: 14
    mode: all
  events:
    retain:
      default: 30
      mode: active_objects

ui:
  live_mode: webrtc

detectors:
  coral1:
    type: edgetpu
    device: pci:0
  coral2:
    type: edgetpu
    device: pci:1
  #cpu:
  #  type: cpu

timestamp_style:
  position: "bl"
  effect: shadow
