---

ansible_user: deployer
main_uid: "1100"
main_gid: "1100"

init_admin_pass: "{{ vault_init_admin_password }}"
photoprism_db_password: "{{ vault_photoprism_db_password }}"
nextcloud_db_password: "{{ vault_nextcloud_db_password }}"
nextcloud_root_db_password: "{{ vault_nextcloud_root_db_password }}"
cloudflare_account_email: "{{ vault_cf_email }}"
cloudflare_api_key: "{{ vault_cf_api_key }}"
wordpress_shop_db_password: "{{ vault_wordpress_shop_db_password }}"
wordpress_shop_root_db_password: "{{ vault_wordpress_shop_root_db_password }}"
peertube_db_password: "{{ vault_peertube_db_password }}"
peertube_secret: "{{ vault_peertube_secret }}"
admin_email: "{{ vault_admin_email }}"
peertube_admin_password: "{{ vault_peertube_admin_password }}"
joplin_postgres_password: "{{ vault_joplin_postgres_password }}"

# lm-traefik
traefik_file_provider: true
traefik_enable_dashboard: true #defaults to false
traefik_insecure_transport: false #defaults to false
traefik_exposed_by_default: false
traefik_config_filepath: "{{ appdata_path }}/traefik"
crowdsec_lapi_key: "{{ vault_crowdsec_lapi_key }}"

zfs_path: /tank2

domain_name: "{{ vault_domain_name }}"
local_domain: "{{ domain_name }}"

# ironicbadger.docker_compose_generator
# appdata_path: "{{ zfs_path }}/appdata"
appdata_path: "/home/deployer/appdata"
ntp_timezone: "America/Chicago"
# global_env_vars:
#   - "PUID={{ main_uid }}"
#   - "PGID={{ main_gid }}"
#   - "TZ={{ ntp_timezone }}"
docker_compose_generator_uid: "{{ main_uid }}"
docker_compose_generator_gid: "{{ main_gid }}"
docker_compose_generator_output_path: /home/deployer/services

media_path: "{{ zfs_path }}/media_"
media_dataset_path: "{{ zfs_path }}/media"
storage_path: "{{ zfs_path }}/archives"
photoprism_dir: "{{ zfs_path }}/photoprism"
photoprism_important: "{{ zfs_path }}/media_photos/Important"
# photoprism_compose_output_path: /home/deployer/photoprism
backup_drive: "/mnt/backups/BACKUPS"

# immich
immich_release_version: "v2.5.6"
immich_dir: "{{ zfs_path }}/immich"
immich_db_password: "{{ vault_immich_db_password }}"
