services:
  beszel_agent:
    image: henrygd/beszel-agent:0.18.4-alpine
    container_name: beszel_agent
    restart: unless-stopped
    network_mode: host
    volumes:
      - "{{ appdata_path }}/beszel/agent_data:/var/lib/beszel-agent"
      - "{{ appdata_path }}/beszel/socket:/beszel_socket"
      - "/var/run/docker.sock:/var/run/docker.sock:ro"
      - /var/run/dbus/system_bus_socket:/var/run/dbus/system_bus_socket:ro
    environment:
      - "LISTEN=/beszel_socket/beszel.sock"
      - "HUB_URL=https://beszel.{{ domain_name }}"
      - "KEY={{ vault_beszel_agent_nvr_pubkey }}"
      - "TOKEN={{ vault_beszel_agent_nvr_token }}"
      - "PUID={{ docker_compose_generator_uid }}"
      - "PGID={{ docker_compose_generator_gid }}"
      - "TZ={{ ntp_timezone }}"