http:
  routers:
    router-homeassistant:
      entryPoints:
        - websecure
      rule: "Host(`homeassistant.{{ domain_name }}`)"
      service: service-homeassistant
      tls:
        certResolver: cloudflare
#    router-frigate:
#      entryPoints:
#        - websecure
#      rule: "Host(`frigate.{{ domain_name }}`)"
#      service: service-frigate
#      tls:
#        certResolver: cloudflare
  services:
    service-homeassistant:
      loadBalancer:
        servers:
        - url: "http://{{ vault_hass_host_ip }}:8123"
#    service-frigate:
#      loadBalancer:
#        servers:
#        - url: "http://{{ vault_pve1_host_ip }}:5000"
  middlewares:
    https-redirect:
      redirectScheme:
        scheme: https
#    authelia:
#      forwardAuth:
#        address: "http://authelia:9091/api/verify?rd=https://login.{{ domain_name }}"
    default-headers:
      headers:
        frameDeny: true
        sslRedirect: true
        browserXssFilter: true
        contentTypeNosniff: true
        forceSTSHeader: true
        stsIncludeSubdomains: true
        stsPreload: true
        stsSeconds: 15552000
        customFrameOptionsValue: SAMEORIGIN
        customRequestHeaders:
          X-Forwarded-Proto: https

    default-whitelist:
      ipWhiteList:
        sourceRange:
        - "10.0.0.0/24"
        - "192.168.0.0/16"
        - "172.0.0.0/8"

    secured:
      chain:
        middlewares:
        - default-whitelist
        - default-headers