http:
  routers:
    router-homeassistant:
      entryPoints:
        - websecure
      rule: "Host(`homeassistant.{{ local_domain }}`)"
      service: service-homeassistant
      tls:
        certResolver: cloudflare
#    router-syncthing:
#      entryPoints:
#        - websecure
#      rule: "Host(`sync.{{ local_domain }}`)"
#      service: service-syncthing
#      tls:
#        certResolver: cloudflare
#    router-frigate:
#      entryPoints:
#        - websecure
#      rule: "Host(`frigate.{{ local_domain }}`)"
#      service: service-frigate
#      tls:
#        certResolver: cloudflare
  services:
    service-homeassistant:
      loadBalancer:
        servers:
        - url: "http://{{ vault_hass_host_ip }}:8123"
#    service-syncthing:
#      loadBalancer:
#        servers:
#        - url: "http://{{ vault_nas_host_ip }}:8384"
#    service-frigate:
#      loadBalancer:
#        servers:
#        - url: "http://{{ vault_pve1_host_ip }}:5000"
  middlewares:
    https-redirect:
      redirectScheme:
        scheme: https
#    authelia:
#      forwardAuth:
#        address: "http://authelia:9091/api/verify?rd=https://login.{{ local_domain }}"
    default-headers:
      headers:
        frameDeny: true
        sslRedirect: true
        browserXssFilter: true
        contentTypeNosniff: true
        forceSTSHeader: true
        stsIncludeSubdomains: true
        stsPreload: true
        stsSeconds: 15552000
        customFrameOptionsValue: SAMEORIGIN
        customRequestHeaders:
          X-Forwarded-Proto: https

    default-allowlist:
      ipAllowList:
        sourceRange:
        - "10.0.0.0/8"
        - "192.168.0.0/16"
        - "172.16.0.0/12"

    secured:
      chain:
        middlewares:
        - default-allowlist
        - default-headers
        #- crowdsec

    #crowdsec:
    #  plugin:
    #    bouncer:
    #      enabled: true
    #      defaultDecisionSeconds: 60
    #      crowdsecMode: live
    #      crowdsecAppsecEnabled: false
    #      crowdsecAppsecHost: crowdsec:7422
    #      crowdsecAppsecFailureBlock: true
    #      crowdsecAppsecUnreachableBlock: true
    #      crowdsecLapiKey: {{ crowdsec_lapi_key }}
    #      crowdsecLapiHost: crowdsec:8080
    #      crowdsecLapiScheme: http
    #      crowdsecLapiTLSInsecureVerify: false
    #      forwardedHeadersTrustedIPs:
    #        # private class ranges
    #        - 10.0.0.0/8
    #        - 172.16.0.0/12
    #        - 192.168.0.0/16
    #      clientTrustedIPs:
    #        # private class ranges
    #        - 10.0.0.0/8
    #        - 172.16.0.0/12
    #        - 192.168.0.0/16