accessLog:
  filePath: "/logs/traefik.log"
  format: json
  filters:
    statusCodes:
      - "200-299" # log successful http requests
      - "400-599" # log failed http requests
  # collect logs as in-memory buffer before writing into log file
  bufferingSize: 0
  fields:
    headers:
      defaultMode: drop # drop all headers per default
      names:
          User-Agent: keep # log user agent strings

entryPoints:
  web:
    address: :80
    http:
      redirections:
        entryPoint:
          to: websecure
          scheme: https
  websecure:
    address: :443
    transport:
      respondingTimeouts:
        readTimeout: 0s
    http:
      tls:
        certresolver: cloudflare
        domains:
          - main: {{ local_domain }}
            sans: "*.{{ local_domain }}"
      middlewares:
        - secured@file

  metrics:
    address: :8082
    
ping: {}

metrics:
  prometheus:
    addEntryPointsLabels: true
    addRoutersLabels: true
    addServicesLabels: true
    entryPoint: metrics

providers:
  docker:
    endpoint: unix:///var/run/docker.sock
    watch: true
    exposedByDefault: {{ traefik_exposed_by_default }}
{% if traefik_file_provider %}
  file:
    filename: /etc/traefik/rules.yaml
{% endif %}

{% if traefik_enable_dashboard %}
api:
  dashboard: true
  insecure: false
{% endif %}

log:
  level: info
  maxSize: 20
  maxBackups: 5
  maxAge: 14
  compress: true

certificatesResolvers:
  cloudflare:
    acme:
      email: "info@{{ domain_name }}"
      storage: /etc/traefik/acme.json
      dnsChallenge:
        provider: cloudflare
        delayBeforeCheck: 0
        resolvers:
          - 1.1.1.1:53
          - 1.0.0.1:53

{% if traefik_insecure_transport %}
serversTransport:
  insecureSkipVerify: true
{% endif %}

#experimental:
#  plugins:
#    bouncer:
#      moduleName: github.com/maxlerebourg/crowdsec-bouncer-traefik-plugin
#      version: v1.3.5