---

ansible_user: deployer
main_uid: "1100"
main_gid: "1100"

domain_name: "{{ vault_domain_name }}"
# local_domain: "util.{{ domain_name }}"

# ironicbadger.docker_compose_generator
appdata_path: "/home/lmilius/appdata"
ntp_timezone: "America/Chicago"
global_env_vars:
  - "PUID={{ main_uid }}"
  - "PGID={{ main_gid }}"
  - "TZ={{ ntp_timezone }}"
docker_compose_generator_uid: "{{ main_uid }}"
docker_compose_generator_gid: "{{ main_gid }}"
docker_compose_generator_output_path: /home/deployer/services
    