services:
  paperless:
    restart: unless-stopped
    image: ghcr.io/paperless-ngx/paperless-ngx:2.20.9
    container_name: paperless
    depends_on: 
      - paperless_redis
    labels:
      - traefik.enable=true
      - "traefik.http.routers.paperless.rule=Host(`paperless.{{ local_domain }}`)"
      - traefik.http.services.paperless.loadbalancer.server.port=8000
    # healthcheck:
    #   test: ["CMD", "curl", "-fs", "-S", "--max-time", "2", "http://localhost:8000"]
    #   interval: 30s
    #   timeout: 10s
    #   retries: 5
    volumes:
      - "{{ appdata_path }}/paperless/data:/usr/src/paperless/data"
      - "{{ appdata_path }}/paperless/media:/usr/src/paperless/media"
      - "{{ appdata_path }}/paperless/export:/usr/src/paperless/export"
      - "{{ appdata_path }}/paperless/consume:/usr/src/paperless/consume"
    environment:
      - "PAPERLESS_REDIS=redis://paperless_redis:6379"
      - "PAPERLESS_URL=https://paperless.{{ local_domain }}"
      - "PAPERLESS_TIME_ZONE={{ ntp_timezone }}"
      - "USERMAP_UID={{ docker_compose_generator_uid }}"
      - "USERMAP_GID={{ docker_compose_generator_gid }}"

  paperless_redis:
    restart: unless-stopped
    image: docker.io/library/redis:7
    container_name: paperless_redis